@import "../../../fonts.scss";

.menu-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  min-height: 32px;
  font-size: 13px;
  color: var(--label-primary);
  @extend .body;
  cursor: default;
  user-select: none;
  position: relative;
  margin: 0 2px;
  border-radius: 4px;
}

.menu-item:not(.disabled):hover {
  background-color: var(--blue);
  color: var(--white);
}

.icon {
  height: 18px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  flex: 1;
  margin-right: 16px;
  font-weight: 400;
}

.menu-item:not(.disabled):hover .shortcut {
  color: var(--white);
}

.disabled {
  opacity: 0.38;
  pointer-events: none;
}

.destructive {
  color: var(--red);
}

.destructive:not(.disabled):hover {
  background-color: var(--red);
  color: var(--white);
}

.arrow {
  margin-left: 8px;
  font-size: 12px;
  transform: rotate(90deg);
}
